@use '../custom' as *;

//Gradient MIXIN
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

//ABSOLUTE VODKA CENTER
@mixin absoluteCenter {
    position: absolute;
    top: 35%;
    left: 35%;
    translate: (-50%, -50%);
}

//Color gradiente
@mixin colorGradient {
    color: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}