@use '../custom' as *;

//Gradient MIXIN
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

//ABSOLUTE VODKA CENTER
@mixin absoluteCenter {
    position: absolute;
    top: 40%;
    left: 45%;
    translate: (-50%, -50%);
}